/* 
 * Copyright (C) 2014 Raúl Sempere Trujillo
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * Document   : main-stylesheet
 * Created on : 15-abr-2014, 00:46:00
 * Author     : Raúl Sempere Trujillo
 */

body
{
    background-color: #d5eeff;
}

.oculto {
    -moz-transition: opacity 0.7s linear;
    -o-transition: opacity 0.7s linear;
    -webkit-transition: opacity 0.7s linear;
    transition: opacity 0.7s linear;
}

.texto_input
{
    float: left;
    border-style: solid;
    border-color: transparent;
    margin-left: 0.5em;
}

div
{
    color: #001563;
    font-family: arial;
    font-size: 11pt;
}
textarea
{
    resize: vertical;
}
#error
{
    color: red;
}

.borde
{
    border-style: solid;
    border-width: 0.1em;
    border-color: #444;
}

.borde_corto
{
    border-style: solid;
    border-width: 0.1em;
    border-color: #444;
    width: 300px;
}

.borde_limit
{
    border-style: solid;
    border-width: 0.1em;
    border-color: #444;
    width: 50em;
}

#caja
{
    background-image: linear-gradient(#CCC, #EEE);
    padding: 1em;
    width: 50em;
    border-style: solid;
    border-width: 0.1em;
    border-color: gray;
    border-radius: 0.5em;
}

#caja_corta
{
    background-image: linear-gradient(#CCC, #EEE);
    padding: 1em;
    width: 35em;
    border-style: solid;
    border-width: 0.1em;
    border-color: gray;
    border-radius: 0.5em; 
}

.filtro_pregunta
{
    background-image: linear-gradient(#CCC, #EEE);
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    width: 60em;
    border-style: solid;
    border-width: 0.1em;
    border-color: gray;
    border-radius: 0.5em;
    text-align: left;
}

.filtro_examen
{
    background-image: linear-gradient(#CCC, #EEE);
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    width: 45em;
    border-style: solid;
    border-width: 0.1em;
    border-color: gray;
    border-radius: 0.5em;
    text-align: left;
}

#caja_fin
{
    background-image: linear-gradient(#CCC, #EEE);
    padding: 1em;
    border-style: solid;
    border-width: 0.1em;
    border-color: gray;
}

.margen
{
    margin: 0.5em;
}

.margen_doble
{
    margin-top: 0em;
    margin-left: 1.5em;
    margin-bottom: 1em;
}

#listado, .listado
{
    background-color: white;
    width: 100%;
}

#listado th, .listado th
{
    border-style: solid;
    border-width: 0.2em;
    border-color: gray;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#listado td, .listado td
{
    border-style: solid;
    border-color: black;
    border-width: 0.1em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    max-width: 600px;
}

#preparaciones
{
    background-color: white;
    width: 720px;
}

#preparaciones th
{
    border-style: solid;
    border-width: 0.2em;
    border-color: gray;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#preparaciones td
{
    border-style: solid;
    border-color: black;
    border-width: 0.1em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    max-width: 600px;
}

.alert
{
    height: 18px;
    width: 18px;
    vertical-align: middle;
}

.add
{
    height: 25px;
    width: 25px;
    vertical-align: middle;
}

.preparado
{
    height: 25px;
    width: 25px;
    vertical-align: middle;
}

#contenido
{
    padding: 10px;
    left: 10px;
    right: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#caja_login {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 20em;
    height: 20em;
    border-style: solid;
    border-width: 0.1em;
    border-color: gray;
    background-image: linear-gradient(#CCC, #FFF);
}

#caja_logo
{
    height: 4em;
    border-style: solid;
    border-bottom-width: 0.1em;
    border-top-width: 0em;
    border-left-width: 0em;
    border-right-width: 0em;
    border-color: gray;
    font-size: 1em;
    color: white;
    background-color: #222;
    background-image: linear-gradient(#555, #222);
}

input.text
{
    border-style: solid;
    border-color: gray;
    border-width: 0.1em;
    width: 9em;
}

#logo_inicio
{
    width: 4em;
    height: 4em;
    margin-left: 0.4em;
    vertical-align: middle;
}

#caja_login_interna
{
    padding-top: 4.8em;
    padding-left: 5.6em;
}

#div_password
{
    padding-top: 1em;
    padding-bottom: 1.5em;
}

#error_inicio
{
    color: red;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 2.5em;
}
#msg_iniciar_sesion
{ 
    display: inline-block;
    position: fixed;
    width: 9em;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 0.9em;
    font-size: 1.7em;
    color: #0088b7;
}

.link
{
    text-decoration: underline;
}

.link:hover
{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

#acceso
{
    display: inline-block;
    position: fixed;
    width: 5.5em;
    height: 1.5em;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #AAE0F2;
    border-style: solid;
    border-width: 0.11em;
    border-color: #0088b7;
    text-align: center;
    padding-top: 0.1em;
    color: #0088b7;
    -webkit-transition:background 1s ease-out;
    -moz-transition:background 1s ease-out;
    -o-transition:background 1s ease-out;
    -ms-transition:background 1s ease-out;
    transition:background 1s ease-out;
    -webkit-transition:color 1s ease-out;
    -moz-transition:color 1s ease-out;
    -o-transition:color 1s ease-out;
    -ms-transition:color 1s ease-out;
    transition:color 1s ease-out;
    border-radius: 0.2em;
    }
    
#acceso:hover
{
    background: #0088b7;
    color: white;
    cursor: pointer;
}

#boton_tema, .boton_tema
{
    width: 7em;
    height: 1.5em;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #AAE0F2;
    border-style: solid;
    border-width: 0.11em;
    border-color: #0088b7;
    text-align: center;
    padding-top: 0.1em;
    color: #0088b7;
    -webkit-transition:background 1s ease-out;
    -moz-transition:background 1s ease-out;
    -o-transition:background 1s ease-out;
    -ms-transition:background 1s ease-out;
    transition:background 1s ease-out;
    -webkit-transition:color 1s ease-out;
    -moz-transition:color 1s ease-out;
    -o-transition:color 1s ease-out;
    -ms-transition:color 1s ease-out;
    transition:color 1s ease-out;
    border-radius: 0.2em;
 }
    
#boton_tema:hover, .boton_tema:hover
{
    background: #0088b7;
    color: white;
    cursor: pointer;
}

#boton_pregunta, .boton_pregunta
{
    width: 8em;
    height: 1.5em;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #AAE0F2;
    border-style: solid;
    border-width: 0.11em;
    border-color: #0088b7;
    text-align: center;
    padding-top: 0.1em;
    color: #0088b7;
    -webkit-transition:background 1s ease-out;
    -moz-transition:background 1s ease-out;
    -o-transition:background 1s ease-out;
    -ms-transition:background 1s ease-out;
    transition:background 1s ease-out;
    -webkit-transition:color 1s ease-out;
    -moz-transition:color 1s ease-out;
    -o-transition:color 1s ease-out;
    -ms-transition:color 1s ease-out;
    transition:color 1s ease-out;
    border-radius: 0.2em;
 }

#boton_pregunta:hover, .boton_pregunta:hover
{
    background: #0088b7;
    color: white;
    cursor: pointer;
}

#boton_examen, .boton_examen
{
    width: 10em;
    height: 1.5em;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #AAE0F2;
    border-style: solid;
    border-width: 0.11em;
    border-color: #0088b7;
    text-align: center;
    padding-top: 0.1em;
    color: #0088b7;
    -webkit-transition:background 1s ease-out;
    -moz-transition:background 1s ease-out;
    -o-transition:background 1s ease-out;
    -ms-transition:background 1s ease-out;
    transition:background 1s ease-out;
    -webkit-transition:color 1s ease-out;
    -moz-transition:color 1s ease-out;
    -o-transition:color 1s ease-out;
    -ms-transition:color 1s ease-out;
    transition:color 1s ease-out;
    border-radius: 0.2em;
 }

#boton_examen:hover, .boton_examen:hover
{
    background: #0088b7;
    color: white;
    cursor: pointer;
}

#tooltip
{
        position: absolute;
        display: none;
        font-family:Arial;
        font-size:0.8em;
        width:500px;
        border:1px solid #808080;
        background-color:#f1f1f1;
        padding:5px;
}

.add:hover
{
    cursor: pointer;
}

.boton:hover
{
    cursor: pointer;
}